@import url('https://fonts.googleapis.com/css2?family=Strait&display=swap');
*{
    font-family: 'Strait', sans-serif;

}
.navcolor{
    background-color: #5755B6;
}

.hcarusel{

    height: 450px;
}

.bluebar{
              
        position: absolute;
        top: 180px;
        left: 430px;
        opacity: 0.8;  
    width: 600px;
    height: 5px;
    background-color: #505CFD;
    z-index: 9;
    margin: 20px;
    display:block;  

}

.nosotros{
    font-size: 48px;
    position: absolute;
    top: 115px;
    left: 730px;
    opacity: 0.8;  
z-index: 9;
margin: 20px;
}

.nosotroscontent{
    font-size: 22px;
    position: absolute;
    top: 225px;
    left: 710px;
    opacity: 0.8;  
z-index: 9;
margin: 20px;
width: 38%;
}
.imgcontent1{
    position: absolute;
    top: 0;
    left: 50px;
    opacity: 0.8;  
}

.decorationcolor{
    color: #505CFD;
}

.hnosostros{

    height:840px;
}

.bggray{

    background-color: #A0A0A9;
}

.testimonioimg{

    width: 312px;
    height: 293px;
}
.pos-r{
    position: relative;
}
.minibluebar{
              
     
width: 50px;
height: 5px;
background-color: #505CFD;
padding-left: 20px;
}

@media screen and (max-width:1216px) {

    .bluebar{
        display: none;
        visibility:hidden;
    }
    .nosotros{
        font-size: 48px;
        position: static;
        top: 115px;
        left: 0;
        opacity: 0.8;  
    z-index: 9;
    margin: 20px;
    }
    
    .nosotroscontent{
        font-size: 22px;
        position: static;
        opacity: 0.8;  
    margin: auto;
    margin-bottom: 20px;
    
    width: 70%;
    }
    .imgcontent1{
        position: static;
        left: 0;
        width: 50%;
        opacity: 0.8;  
        margin-left: 0;
        align-self: center;
    }
    .hnosostros{
        text-align: center;
        height:100%;
    }
}
@media screen and (max-width:992px) {
 
    .col-5{
        width: 100%;
    }
    .col-7{
        width: 100%;
    }
    .col-4{
        width: 80%;
        padding-left: 25px;
    }
    .cen{
        padding: 25px;
    }
    .col-3{
       
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .centers{
        
        width: 100%;

    }
    .col-md-4 {
        text-align: center;
    }
}